.nav-link.active {
    color: #4cc2ff !important;
    text-decoration: none !important;
}

.navbar-nav .nav-link:hover {
    color: #4cc2ff !important;
    text-decoration: underline;
}

.page-link { cursor: pointer; }

.htmx-indicator { display: none; }
.htmx-request .htmx-indicator { display: inline-flex; }