{% extends "base.html" %}

{% block title %} - Clientes{% endblock %}
{% block nav_active_clientes %}active{% endblock nav_active_clientes %}

{% block content_header %}
    <div class="d-flex align-items-end justify-content-between mt-3 mb-2">
        <div>
            <h1 class="h4 mb-2 d-flex align-items-center gap-2">
                <i class="bi bi-people"></i> Clientes
            </h1>
            <small class="text-muted">Administración de clientes</small>
        </div>
        <div>
            <a href="" class="btn btn-primary d-flex align-items-center gap-2">
            <i class="bi bi-plus-circle"></i><span>Nuevo cliente</span>
            </a>
        </div>
    </div>
    <hr class="mt-2 mb-3">
{% endblock content_header %}

{% block content %}
    <p>Contenido principal de Clientes...</p>
    
    <ul>
        {% for customer in customers %}
            <li>
                {{ customer }}
            </li>
        {% endfor %}
    </ul>
        
{% endblock %}