{% extends "base.html" %}
{% load form_tag %}

{% block title %} - Nueva cotización{% endblock %}
{% block nav_active_cotizaciones %}active{% endblock %}

{% block content_header %}
    <div class="d-flex align-items-end justify-content-between mt-3 mb-2">
      <div>
        <h1 class="h4 mb-2 d-flex align-items-center gap-2">
          <i class="bi bi-file-earmark-plus"></i> Nueva cotización
        </h1>
        <small class="text-muted">Crear nueva cotización</small>
      </div>
      <div>
        <a href="{% url 'quotes:quote_list' %}" class="btn btn-outline-secondary d-flex align-items-center gap-2">
          <i class="bi bi-arrow-left"></i><span>Regresar</span>
        </a>
      </div>
    </div>
    <hr class="mt-2 mb-3">
{% endblock content_header %}


{% block content %}
  <form method="post" class="card shadow-sm p-4" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% if form.errors %}
      <div class="alert alert-warning">
        {{ form.errors }}
      </div>
    {% endif %}

    <!-- Cliente -->
    <div class="mb-3">
      <label class="form-label fw-semibold">Cliente</label>

      <!-- Campo visible donde el usuario escribe -->
      <input type="search" id="customer-search" class="form-control"
             name="search" placeholder="Buscar cliente por nombre o RFC..."
             value="{% if form.instance.customer %}{{ form.instance.customer.name }}{% endif %}"
             hx-get="{% url 'customers:customer_search_htmx' %}"
             hx-trigger="keyup changed delay:300ms"
             hx-target="#customer-results"
             hx-indicator="#customer-loading"
             autocomplete="off"
      >
      {% if form.customer.errors %}
          <div class="invalid-feedback d-block mt-1">
              {% for error in form.customer.errors %}
                  {{ error }}
              {% endfor %}
          </div>
      {% endif %}

      <!-- Loader -->
      <div id="customer-loading" class="htmx-indicator mt-1 small text-muted">
          <i class="bi bi-arrow-repeat"></i> Buscando...
      </div>

      <!-- Resultados de búsqueda -->
      <div id="customer-results" class="list-group mt-2"></div>

      <!-- Hidden input con el cliente seleccionado -->
      <input type="hidden" name="customer" id="customer-id"
             value="{{ form.instance.customer_id|default_if_none:'' }}">
    </div>

    <!-- Contacto -->
    <div id="contact-container">
      <div class="mb-3">
        <label class="form-label fw-semibold">Contacto</label>
        <select id="id_contact" name="contact" class="form-select" 
                {% if not form.instance.customer_id %}disabled{% endif %}>
          {% if form.instance.customer and contacts %}
          <option value="">Selecciona un contacto…</option>
          {% for c in contacts %}
            <option value="{{ c.id }}" {% if form.instance.contact_id == c.id %}selected{% endif %}>
              {{ c.full_name }}
            </option>
          {% endfor %}
        {% else %}
          <option value="">Selecciona un cliente…</option>
        {% endif %}
        </select>
        {% if form.contact.errors %}
            <div class="invalid-feedback d-block mt-1">
                {% for error in form.contact.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
      </div>
    </div>
    
    <div class="mb-3">
        {% if user.profile.is_csr or user.profile.is_manager %}
            <label class="form-label fw-semibold">Asignado a</label>
            <select name="user" id="id_user"class="form-select"
                    hx-get="{% url 'quotes:load_users_htmx' %}"
                    hx-trigger="load"
                    hx-target="#id_user"
                    hx-swap="innerHTML"
                    hx-params="none">
                <option value="">Cargando usuarios…</option>
            </select>
        {% else %}
            <label class="form-label fw-semibold">Asignado a {{ user }}</label>
        {% endif %}
        

        {% if form.user.errors %}
            <div class="invalid-feedback d-block mt-1">
                {% for error in form.user.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <hr class="my-4">

    <!-- Botones de acción -->
    <div class="d-flex justify-content-end gap-2">
      <a href="{% url 'quotes:quote_list' %}" class="btn btn-outline-secondary">
        <i class="bi bi-x-circle"></i> Cancelar
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-check2-circle"></i> Guardar cotización
      </button>
    </div>
  </form>
{% endblock content %}
