{% load static %}

<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BI-Tecnología - Cotizaciones {% block title %}{% endblock title %}</title>
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
        <header>{% block header %}{% endblock header %}</header>
        <nav>
            {% if user.is_authenticated %}
                <p>Bienvenido {{ user.first_name }}</p>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesón</button>
                </form>
            {% endif %}
                
            {% block nav %}{% endblock nav %}
        </nav>
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>            
            {% endif %}
            {% block content_header %}
            {% endblock content_header %}
            {% block content %}
            {% endblock content %}
        </main>
        <footer>Footer (base.html)</footer>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>